header{
  text-align: center;
}
#puff-out-center {
  background-image: url("https://media.giphy.com/media/HQuZn367GgytO/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
	animation: fadeOut 2.5s forwards;
  position: absolute;
  z-index: 1;


}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }


  99.9%,  {
    opacity: 1;
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
    z-index:-1
  }

}
body{

  -webkit-background-size: cover;
	animation: fadeIn 3s forwards;
  background: url("cutepoke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width:100%;
  height: 100vh;
  position: absolute;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }


  99.5%,  {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: none;
  }

}
/* https://stackoverflow.com/questions/33486228/how-to-fade-in-reveal-one-letter-at-a-time */
#txtbox{
  color: red;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 6s steps(60, end);
}

@keyframes type{
  from { width: 0; }
}
100%{
  display: none;
}



img #amin {
  height: 100%;
  width: 100%;
}

#gallery {
  text-align: center;
  width:65%;

}

#bellossom {
  display: inline-block;
}

#jigglypuff {
  margin-left: 20px;
  display: inline-block;
}

#teddiursa {
  display: inline-block;
}

#right{
  float:right;
  width: 35%;
}
#trainer{
  position: relative;
width: 50%;
z-index: 10;
 /* top:4px;
 left: 50px; */
}
 #txtbox{
position: relative;
text-align: center;
float:right;

}




}
#row{
  float: left;
}
footer{
  text-align: center;

}
