header{
  text-align: center;
}
#puff-out-center {
  background-image: url("https://media.giphy.com/media/HQuZn367GgytO/giphy.gif");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  height: 100vh;
  width: 100%;
	animation: fadeOut 2.5s forwards;
  position: absolute;
  z-index: 1;


}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }


  99.9%,  {
    opacity: 1;
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
    z-index:-1
  }

}
body{

  -webkit-background-size: cover;
	animation: fadeIn 3s forwards;
  background: url("cutepoke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width:100%;
  height: 100vh;
  position: absolute;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }


  99.5%,  {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: none;
  }

}




img #amin {
  height: 100%;
  width: 100%;
}

.gallery {
  text-align: center;

}

#bellossom {
  display: inline-block;
}

#jigglypuf {
  display: inline-block;
}

#teddiursa {
  display: inline-block;
}

#empty1 {
  display: inline-block;
  width:200px;
  height: 204px;
}

#empty2 {
  display: inline-block;
  width: 200px;
  height: 204px;
}

#empty3 {
  display: inline-block;
  width: 200px;
  height: 204px;
}
footer{
  text-align: center;

}
